params {
   
    rnaseq_file = 'data/GSE252145_Normalized_DESEQ.txt'
    metadata_file = 'data/metadata.txt'

    main_script = 'scripts/main.R'
    preprocessing_script = 'scripts/preprocessing.R'
    model_selection_script = 'scripts/model_selection.py'
    hyperparameter_optimization_script = 'scripts/hyperparameter_optimization.py'
    classification_script = 'scripts/classification.py'
    model_evaluation_script = 'scripts/model_evaluation.py'
    num_features = 5
}
