includeConfig 'secrets.config'
params {
    rnaseq_file = 'data/GSE252690_raw_data_FPKM.txt'
    raw_metadata_file = 'data/metadata1.txt'
    metadata_processing_script = 'scripts/metadata_processing.py'
    main_script = 'scripts/main.R'
    preprocessing_script = 'scripts/preprocessing.R'
    model_selection_script = 'scripts/model_selection.py'
    hyperparameter_optimization_script = 'scripts/hyperparameter_optimization.py'
    classification_script = 'scripts/classification.py'
    model_evaluation_script = 'scripts/model_evaluation.py'
    num_features = 5
}
process {
    withName: metadata_processing {
        env.OPENAI_API_KEY = params.openai_api_key
    }
}